*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
:root{
    --primary-color: #FD4766;
    --secondary-color: #0e1525;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}
.primary-color{
    color: #FD4766;
}
.secondary-color{
    color: #0e1525;
}
.wrapper{
    font-family: var(--secondary-font);
    background: var(--secondary-color);
}
.nav-head{
    background: var(--secondary-color);
}
.heading{
    text-align: center;
}
.heading h2{
    font-family: var(--primary-font);
}
.heading p{
    display: inline;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.deco-line{
    width: 70px;
    height: 4px;
    margin: 0 auto 10px auto;
    
    background: var(--primary-color);
}
.navbar{
    background: var(--secondary-color);
}
.text-gradient{
    color: var(--primary-color) !important;
    background: linear-gradient(120deg, #1C99FE 10.69%, #7644FF 40.19%, #FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 600;
}
.button1 a{
    padding: .7rem 1.6rem;
    color: #fff;
    outline:2px solid var(--primary-color);
    border-radius: 30px;
    font-family: var(--primary-font);
    transition: 1s;
}
.button1 a:hover{
    background: var(--primary-color);
    outline: none;
}
.button2 a{
    padding: .7rem 1.6rem;
    color: #fff;
    background: var(--primary-color);
    border-radius: 30px;
    transition: 0.5s;
}
.button2 a:hover{
    background: none;
    outline:2px solid #FD4766;
}
.hero-section{
    height: 550px;
    background:url("../Images/Background/Mahesh-Datir.png");
    background-position: center center;
    background-size: cover;
    border-bottom: 4px solid #FD4766;
    color: #fff;
}

.hero-cont h1{
  font-family:var(--primary-font);
}
.about-left a{
    color: #fff;
    text-decoration: none;
}
.skill-heading{
    line-height: 1.4;
}
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  .skill-name{
    font-size: 16px;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 5px 0;
  }
  .skill-bar{
    height: 5px;
    margin-bottom: 30px;
    background: #414141 ;
  }
  .skill-per{
    height: 5px;
    background: linear-gradient(-224deg, #FD4766, #337dff);
    position: relative;
    animation: fillBars 2.5s 1;
  }
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 3px 6px;
    color: #0c1220;
    background: #d4d7dd;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  .skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #d9dbe0;
    top: -17px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
  }
  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }
.personalSkill{
    line-height: 2.5;
}
.education-detail{
    height: 87%;
    margin-bottom: 1.5rem;
    background: #0c1220;
    position: relative;
    bottom: 0;
    transition: 0.5s !important;  
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(138deg, #FD4766 10.69%,#0e1525 10.19%, #0e1525 90.19%, #FD4766 10.69%)1;
}
.graduation-cap{
    display: none;
}
.graduation-cap i{
    font-size: 60px;
    color: #012a36;
    opacity: 0.6;
}
.education-detail:hover{
    bottom: 6px;
    border-width: 3px;
    border-style: solid;
}
.project-div{
    position: relative;
}
.project-over-div p{
    color: var(--secondary-color);
}
.project-over-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient( rgba(214,26,94,0.1), rgba(214,26,94,0.9));
}
.project-div:hover .project-over-div{
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
}
.project-name{
    position: relative;
    text-align: center;
    top: 100px;
    transition: 1s;
}
.project-div:hover .project-name{
    top: 0;
}
.project-img{
    overflow: hidden;
}
.pro-img{
    transition: 0.3s;   
}
.project-div:hover .pro-img{
    transform: scale(1.1);
    opacity: 0.5;
}
.form{
    background: #0c1220;
}
.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
   }
@keyframes up-down {
   0% {
       transform: translateY(10px);
   }
   100% {
       transform: translateY(-10px);
   }
}
.form input, .form textarea{
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    caret-color: #fff;
    color: #fff;
}
input:focus{
    box-shadow: none !important;
    background: var(--secondary-color) !important;
    color: #fff !important;
}
textarea:focus{
    box-shadow: none !important;
    background: var(--secondary-color) !important;
    color: #fff !important;
}
.submit-btn{
    background: #FD4766;
    border: none;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}
.error{
  color: red;
}
footer{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c1220;
    padding: 50px 0;
}
@media(min-width:768px){
    .logo{
        font-size: 44px !important;
    }
    .hero-section{
        height: 640px;
        background-size: cover;
        line-height: 1.5;
    }
    .hero-section h1{
        font-size: 52px;
        font-weight: 700;
    }
    .hero-section p{
        letter-spacing: 2px;
    }
    .type{
      color: var(--primary-color);
    }
    .resume h1{
        font-size: 50px;
    }
    .graduation-cap{
        display: inline-block;
    }
}
.navigation{
    height: 90px;
    background: #0e1525;
  }
  .logo{
    font-size: 30px;
    float: left;
    padding: 1px 10px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(120deg, #1C99FE 10.69%, #7644FF 40.19%, #FD4766 79.69%)1;
  }
  .navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
  }
  .navigation-menu a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  .navigation-menu a:hover{
    background: var(--primary-color);
    color: #fff;
  }
  /* .active1{
    background: var(--primary-color);
    color: #fff !important;
  } */
  .navigation-menu i{
    font-size: 16px;
  }
  .home{
    color: #ff6b6b !important;
  }
  .about-icon{
    color: #0abde3;
  }
  .skill-icon{
      color: #ff8c05;
  }
  .project-icon{
    color: #feca57;
  }
  .education-icon{
    color: #1dd1a1;
  }
  .contact-icon{
    color: #1dd1a1;
  }
  .menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
  }
  @media(min-width:992px){
    .picture{
      position: relative;
    }
    .bubble1{
      width: 250px;
      height: 250px;
      background: var(--primary-color);
      border-radius: 50%;
      position: absolute;
      top: -15%;
      left: -20%;
    }
    .bubble2{
      width: 150px;
      height: 150px;
      background: #7644FF;
      border-radius: 50%;
      position: absolute;
      top: -20%;
      left: 17%;
    }
    .bubble3{
      width: 60px;
      height: 60px;
      background: #1C99FE;
      border-radius: 50%;
      position: absolute;
      top: 35%;
      left: -20%;
    }
  }
  @media(max-width:991px) {
    .menu-toggle-btn{
      display: block !important;
    }
    .navigation-menu{
      height: 400px;
      position: absolute;
      top: 90px;
      width: 100%;
      background: #0c1220;
      right: 0;
      display: none;
      position: absolute;
      transition: 0.6s linear;
      padding: 20px 40px;
      box-sizing: border-box;
    }
    .navigation-menu a{
      display: block;
      margin: 10px 0;
    }
    .navigation-menu.active{
      display: block;   
    }
  }